@import "../../global.scss";
.workdone {
  background-color: $mainColor;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 100%);
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  .slider {
    width: 900px !important;
    height: 500px;
    @include mobile {
      width: 100% !important;
      object-fit: contain;
    }
    .legend {
      font-weight: 700;
      font-size: 25px !important;
      cursor: pointer;
      width: 55% !important;
      margin-left: -25% !important;
      bottom: 30px !important;
      background: #130f40 !important;
      @include mobile {
        width: 90% !important;
        margin-left: -45% !important;
      }
      a {
        color: #FFF;
      }
    }
    img {
      margin-top: 50px;
      width: 100%;
      border-radius: 25px;
      object-fit: cover;
      @include mobile {
        margin-top: 100px;
      }
    }
  }
}

li.thumb {
  opacity: 0;
}
p.carousel-status {
  display: none;
}
